<h2>Chat con el usuario</h2>
<h3>{{error}}</h3>
<form id="messageForm">
    Email: <input type="email" name="email" id="email">
    Mensaje: <input type="text" name="message" id="message">
    <input type="submit" value="Enviar">
</form>
<div>
        <ul id:"chat"></ul>

</div>
<!--
    <h3 id="h3Id"></h3>
<form id="formChat">
<input type="text" name="inputChat" id="inputChat">
<input type="submit" value="Enviar">
</form>
<div id="divId"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>