<h2>Crear Carrito</h2>
<form action="/api/carts" method="post">
    Titulo del producto: <input type="text" name="title" id="title"> 
    Cantidad: <input type="string" name="description" id="description">
    <input type="submit" value="Crear">
</form>