<h2>Crear Producto</h2>
<form action="/api/products" method="post">
    Título: <input type="text" name="title" id="title"> 
    Descripción: <input type="string" name="description" id="description">
    Código: <input type="string" name="code" id="code"> 
    Precio: <input type="number" name="price" id="price">
    Estado: <input type="text" name="status" id="status"> 
    Stock: <input type="number" name="stock" id="stock"> 
    Categoría: <input type="text" name="category" id="category"> 
    Imagen: <input type="text" name="thumbnails" id="thumbnails">
    <input type="submit" value="Crear">
</form>