<h2>Websocket</h2>
<form id="form">
    Precio: <input type="number" name="precio" id="precio">
    <input type="submit" value="Enviar">
</form>
    
    {{!-- Nombre: <input type="text" name="nameChat" id="nameChat">
    Colocando el script en la vista, obtengo las funcionalidades de socket.io en el cliente --}}
<script src="/socket.io/socket.io.js"></script>
<!-- Se debe respetar el orden de cada .js -->
<script src="/js/index.js"></script>