<h2>Cliente</h2>
<form id="form">
    Email: <input type="email" name="emailChat" id="emailChat">
    <input type="submit" value="Enviar">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>